body {
    background-color: rgb(205, 231, 229);
}

h1 {
    color: black;
    text-align: left;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h2 {
    color:  black;
    text-align: left;
}

h3 {
    color:  black;
    text-align: left;
}

li a {
    display: block;
    width: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    float: left;
    background-color: white;
    color: black;
}

nav li {
    float: left;
    background-color: white;
}

img {
    max-width: 10%;
    height: auto;
    border-radius: 50%;
}

